    <div class="table-responsive-xl">
        <table class="table">
<tr>
    <th *ngFor="let column of columnName; let i=index;" >

        <div class="col-7">
         {{column}}
        </div>
      </th>
    </tr>
        <tr *ngFor="let table of tables">
  <td *ngFor="let column of columnName; let i=index;" >
    <div class="col-7">
      {{table[column]}}
    </div>
  </td>
      <td>
          <div class="">
              <button type="button" class="btn btn-primary" routerLink="/tableList/{{tablename}}/{{table[columnName[1]]}}" routerLinkActive=""  >Update</button>
          </div>
        </td>
        <td>
            <div class="">
                <button type="button" class="btn btn-secondary" #take value="/api/table/{{tablename}}/{{table[columnName[1]]}}" (click)="deleteData(take.value)" >Delete</button>
            </div>
          </td>



  </tr>
</table>
<div class="text-center">
    <button type="button" class="btn btn-primary" routerLink="/tableList/{{tablename}}/AddData" routerLinkActive=""  >Add Record</button>
</div>
</div>


